p{

    background-color: crimson;
    font-family: 'Courier New', Courier, monospace;
}
.clase1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;

}
#p9{
    background-color: azure;
}