<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Actividad 2</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="" container bg-primary>
      <!--12 pts-->
      <div class="row">
          <div class="background-color:blue">
              <p class="clase1">
                  <marquee>
                      <h2 style="font-size:5vw">
                          <font color="Red">Tarea 2</font>
                      </h2>
                  </marquee>
              </p>
          </div>

      </div>
  </div>
    <div class="wrapper">
      <header>
        <h1><u><center>Palindrome</center></u></h1>
        <p>Porfavor escribe tu palabra, para ver si es un palindrome.</p>
      </header>
      <div class="inputs">
        <input type="text" spellcheck="false" placeholder="Ingresa el texto">
        <button><font color="red">Ingresar</font></button>
      </div>
      <p class="info-txt"></p>
    </div>

    <script src="script.js"></script>

    
    <body background="https://fmlopez48.files.wordpress.com/2014/05/gaviota-marca-de-agua1.jpg"></body>
  </body>
</html>